<div class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
  <%= link_to 'strieber.org', root_url, class: 'pure-menu-heading' %>
  <ul>
    <li><%= link_to 'Home', '#' %></li>
    <li><%= link_to 'Talks', '#' %></li>
    <li><%= link_to 'GitHub', '#' %></li>
    <li><%= link_to 'Resume', '#' %></li>
  </ul>
</div>
