<!DOCTYPE html>
<html>
<head>
  <title>strieber.org</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/banner' %>
  <div class="pure-g">
    <%= yield %>
  </div>
</body>
</html>
